body{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
/* cover-section */
.heading-font{
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 0;
}

.section1{
    background-image: url(/images/cover1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1348px;
    height: 710px;
}

.content1{
    text-align: left;
    margin-left: 80px;
    padding-top: 70px;
    
}
.paragraph1{
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
    
}
.btn1{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
}
#btn{
    margin-right: 15px;
}
.btn1:hover{
    background-color: #C211A1;
    
}

/* section-2 */
.section2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: white;
}

.search-heading{
    font-size: 35px;
    margin-bottom: 10px;
    
}

.form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: aqua;
    display: inline-flex;
    padding: 50px 150px 50px 150px;
    border-radius: 5px

    
}
#domain-name{
    font-size: 18px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua ;
}

#domain{
    width: 80px;
    font-size: 18px;
    border: none;
    background-color: aqua;
}

#search{
    background-color: blue;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    padding: 10px 0 10px 0;
    width: 120px;
    font-size: 18px
    
}
.small{
    font-size: 20px;
    display: inline-block;
    padding-top: 10px;
    
}

/* section-3 */

#icon{
    width: 50px;
    height: 50px;
}
.section3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.flex-div{
    display: flex;
    width: 700;
    height: 700;
    margin-left: 50px;
    margin-right: 50px;
}

.single-div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: cornsilk;
    text-align: left;
    text-justify: auto;
    padding: 40px 30px 30px 30px;
    margin: 10px 30px 10px 30px;
}

.section4{
    display: flex;

}
.second-div{
    
    background-color: cornsilk;
    text-align: left;
    margin: 5px 77px 5px 77px;
    
}
.section3 .second-div{
    padding-right: 50px;
}

/* section-5 */
#iamage{
    width: 400px;
    height: 400px;
}
.position{
    background-color: aquamarine;
    padding: 20px 20px;
    border-radius: 50%;
    position: absolute;
    left: 530px;
    top: 2000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.position2{
    background-color: aquamarine;
    padding: 20px 20px;
    border-radius: 50%;
    position: absolute;
    left: 530px;
    top: 2200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.section5{
    display: flex;
    margin-top: 90px;
    margin-bottom: 50px;
}

.position-div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: cornsilk;
    text-align: left;
    text-justify: auto;
    padding: 10px 50px 40px 70px;
    margin: 10px 80px 10px 30px;

}
.position-img{
    margin-left: 80px;
    margin-right: 60px;
}
.position-div h2{
    font-size: 30px;
}
/* bbbbbb */
.section5B{
    display: flex;
    margin-top: 70px;
    margin-bottom: 60px;
    margin-left: 50px;
}


.positionB{
    background-color: aquamarine;
    padding: 20px 20px;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 2480px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

    .position2B{
        background-color: aquamarine;
        padding: 20px 20px;
        border-radius: 50%;
        position: absolute;
        left: 40px;
        top: 2680px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
    }

    .position-divB{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        background-color: cornsilk;
        text-align: left;
        text-justify: auto;
        padding: 10px 50px 40px 70px;
        margin: 10px 80px 10px 30px;
    
    }
    .position-divB h2{
        font-size: 30px;
    }

    .position-imgB{
        margin-right: 80px;
    }

    /* section-8 */
    #section8{
        display: flex;
        padding-left: 0px;
        color: white;
        padding-top: 90px;
        padding-bottom: 90px;
        
    }
    

    .section8{
        
        background-color: rgb(46, 32, 246);
        margin-bottom: 0;
    }

    .section8 a{
        display: inline-block;
        text-decoration: none;
        color: white;
    }

    .section8 a:hover{
        color: blue;
    }

    .section8-div{
        color: white;
        padding-left: 230px;
        padding-right: 60px;
    }

    .section8-div2{
        padding-right: 70px;
    }
    .section8-div3{
        padding-right: 80px;
    }

   
    .section8 footer{
        text-align: center;
        color: white;
        padding-bottom: 20px;
    
    }