body{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
/* cover-section */
.heading-font{
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 0;
}

.section1{
    background-image: url(/images/cover1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1348px;
    height: 710px;
}

.content1{
    text-align: left;
    margin-left: 80px;
    padding-top: 70px;
    
}
.paragraph1{
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
    
}
.btn1{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
}
#btn{
    margin-right: 15px;
}
.btn1:hover{
    background-color: #C211A1;
    
}

/* section-2 */
.section2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: white;
}

.search-heading{
    font-size: 35px;
    margin-bottom: 10px;
    
}

.form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: aqua;
    display: inline-flex;
    padding: 50px 150px 50px 150px;
    border-radius: 5px

    
}
#domain-name{
    font-size: 18px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua ;
}

#domain{
    width: 80px;
    font-size: 18px;
    border: none;
    background-color: aqua;
}

#search{
    background-color: blue;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    padding: 10px 0 10px 0;
    width: 120px;
    font-size: 18px
    
}
.small{
    font-size: 20px;
    display: inline-block;
    padding-top: 10px;
    
} 
